<style>
  .style-text{
    font-family: 'Times New Roman', Times, serif;
  }
</style>
<main class="bg-secondary">
  <div class="container py-4">
    <div class="row align-items-md-stretch">
      <div class="col-md-6">
        <div class="h-100 p-5 text-white bg-dark rounded-3">
          <h4 class="text-white">Conférences & évènements</h4>
          <p style="color:aliceblue;" class="text-break lh-base style-text">"Car là où deux ou trois sont assemblé en mon nom, je suis au milieu d'eux" (Matthieu 18:20) a dit notre Seigneur. Que soient rassemblés deux, dix ou cinquante personnes, B-EVENT s'appuie sur cette promesse divine pour promouvoir l'avènement de Dieu sur terre à travers des évènements à thème.</p>
          <a href="/?bevent/=events/" class="btn btn-outline-light mt-2" type="button">Decouvrir</a>
        </div>
      </div>
      <div class="col-md-6">
        <div class="h-100 p-5 bg-light border rounded-3">
          <h4>Accompagnement-conseils</h4>
          <p class="text-break lh-base style-text">Obtiens ton suivi personnel.
          Célibataire, en couple ou en famille, Lydia vous accompagne personnellement et vous construit un plan de cheminement pour défaire vos noeuds avec l'appui de notre Seigneur JESUS-CHRIST.</p>
          <a href="/?bevent/=contact/" class="btn btn-outline-secondary mt-2" type="button">Prendre un rendez-vous</a>
        </div>
      </div>
    </div>
</main>
<section class="front-product">
    <div class="container-fluid p-0">
        <div class="row align-items-center">
            <div class="col-lg-6 col-12">
                <img src="{{ asset('assets/images/famille.jpg') }}" class="img-fluid" alt="">
            </div>
            <div class="col-lg-6 col-12">
                <div class="px-5 py-5 py-lg-0">
                    <h2 class="mb-4"><span>Counseling </span>familial</h2>
                    <p class="lead mb-4  style-text">Un atelier  conçu pour aider les couples à développer et à améliorer les éléments clés d'une <span class="title-color">relation saine.</p>
                    <a href="#" class="custom-link">
                    Prendre un Rendez-vous
                        <i class="bi-arrow-right ms-2"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>