
<nav class="navbar navbar-expand-lg">
    <div class="container">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <a class="navbar-brand" href="/">
            <img src="{{ asset('assets/images/logoeli.png') }}" height="50" alt="" srcset="">
        </a>

        <div class="d-lg-none">
            <a href="/?bevent/=login/" class="bi-person custom-icon me-3"></a>

        </div>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mx-auto">
                <li class="nav-item "><a class="nav-link fw-bold  " id="hoverD" href="/">Accueil</a></li>
                <li class="nav-item "><a class="nav-link fw-bold  " id="hoverD" href="/Apropos">A propos</a></li>
                <li class="nav-item "><a class="nav-link fw-bold  " id="hoverD" href="/services">Services</a></li>
                <li class="nav-item "><a class="nav-link fw-bold  " id="hoverD" href="/b-events">B-event</a></li>
                <!--li class="nav-item "><a class="nav-link fw-bold  " id="hoverD" href="/?bevent/=blog/">Blog</a></li-->
                <li class="nav-item "><a class="nav-link fw-bold  " id="hoverD" href="/rencontres">Rencontres</a></li>
                <li class="nav-item "><a class="nav-link fw-bold  " id="hoverD" href="/contact">Contact</a></li>
                <li class="nav-item "><a class="nav-link fw-bold  " id="hoverD" href="/don">Don</a></li>
            </ul>
            <div class="d-none d-lg-block">
                <a href="/?bevent/=login/" class="bi-person custom-icon me-3"></a>
            </div>
        </div>
    </div>
</nav>