<?php require 'views/head.php'; ?>
<main>
<?php require 'views/navbar.php'; ?>
  <!-- ***** Main Banner Area Start ***** -->
  <!-- ***** Header Area End ***** -->
  <style>
 
 body > main > div.container-fluid.bg-primary > div > center > a:hover{
   background-color: rgb(96, 9, 9) !important;
}

@media screen and (max-width: 991px){
  body > main > div.page-heading > div > div > div > h4{
        font-size: 18px;
    }
    body > main > div.page-heading > div > div > div > h2{
      font-size: 18px !important;
    }
}
  </style>

  <div class="" style="
    background-position: center;
    background-size: cover;">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 offset-lg-2 header-text" style="height: 5rem;">
        <h2 style="color: #fff;
    font-size: 44px;
    font-weight: 700;
    line-height: 74px;
    text-shadow: 1px 1px 2px black;
    " class="text-title text-center"></h2>
         
        </div>
      </div>
    </div>
  </div>


    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-6">
          <div class="section-heading">
          </div>
        </div>
        <div class="col-lg-6">
         
        </div>

        <div class="col-lg-3 col-sm-6">
          <div class="popular-item">
            <div class="thumb">
              <img src="{{ asset('assets/images/lydia.jpeg') }}" alt="">
            </div>
            <br>
            <div class="right">
                <h4>Lydia Lawson-Body</h4>
                <span>FONDATRICE DE ÉLIFELET</span>
                <p>Lydia LAWSON-BODY est missionnaire de JÉSUS-CHRIST et fondatrice de ELIFELET. Elle accompagne des célibataires, des couples et des familles dans la résolution de leurs problématiques.</p>
              </div>
          </div>
        </div>

        <div class="col-lg-8 col-sm-8">
          <div class="popular-item">
            <div class="top-content">
              <div class="right">
                <h3>Que signifie “ELIFELET” ?</h3>
               <span>ELIYPHELET en hébreu ou en français ELIPHÉLET SIGNIFIE «Dieu est délivrance» , dans d’autres contexte ça veut dire «DIEU ma distinction».</span>
              </div>
        </div>
        <div class="top-content">
        <div class="right">
                <h3>Comment est née elifelet ?</h3>
               <span>C’est suite à un cheminement de plusieurs années, constitué de songes, de prophéties, d’échecs et de victoires, qu’est née Elifelet. Sa mission est de promouvoir le règne de Dieu sur la Terre via les foyers et les communautés.</span><br><br>
                    <span>Premièrement, nous proposons des services aux célibataires, aux couples et aux familles.
                    Deuxièmement, Elifelet organise pour les communautés des événements de type conférences, visites de lieux saints, tables rondes, actions d’évangélisation.</span><br><br>
                    <h3>Service aux foyers :</h3>
                    <span>
                    À travers la Bible, nous voyons combien de fois Dieu agit à travers les familles.
                   <strong> Actes 16:33-34</strong><br>
                   <i> <strong>33</strong> A l’heure même, en pleine nuit, le gardien les prit avec lui et lava leurs blessures. Il fut baptisé aussitôt après, lui et tous les siens. <strong>34</strong> Puis il fit monter Paul et Silas dans sa maison, leur offrit un repas, et se réjouit, avec toute sa famille, d’avoir cru en Dieu.
                    </span><br><br></i>
                    <span>Dieu a voulu que le foyer soit un cadre où les membres partagent de l’amour les uns pour les autres….</span>
                  </div>
        </div>
      </div>
    </div>
  