
<style>
  .style-text{
    font-family: 'Times New Roman', Times, serif;
  }
</style>
  <div class="page-heading img-fluid" style="background-image: url({{ asset('assets/images/banneraide.jpeg') }}); height:100vh;
    width: 100%;
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
   background-attachment: fixed;">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 offset-lg-2 header-text">
          <h3 style="    color: #fff;
    font-size: 54px;
    font-weight: 700;
    line-height: 74px;
    text-shadow: 1px 1px 2px black;top: -37px;
    position: relative;">Avez-vous besoin d'aide ? </h3>
          <h4 style="color:blanchedalmond; text-shadow: 1px 1px 2px black;top: -37px;
    position: relative;">Vous faites face à des difficultés dans la gestion d'une vie à deux ou de la famille ? Vous vivez un moment de séparation ou de divorce ? Vous vivez un célibat ? Elifelet a pour but de vous aider à changer la donne.</h4>
        </div>
      </div>
    </div>
  </div>
    
  <main class="bg-secondary">
  <div class="container py-4">
    <div class="row align-items-md-stretch">
      <div class="col-md-6">
        <div class="h-100 p-5 text-white bg-dark rounded-3">
          <h2 class="text-white">Counseling</h2>
          <p style="color:aliceblue;" class="style-text">Elifelet met à votre disposition un programme de soutien et de suivi afin d'aider les couples, les familles et les celibataires dans la résolution de leurs problématiques .</p>
          <button class="btn btn-outline-light" type="button">Reserver votre écoute</button>
        </div>
      </div>
      <div class="col-md-6">
        <div class="h-100 p-5 bg-light border rounded-3">
          <h2>Service divers</h2>
          <p  class="style-text">Elifelet met à votre disposition des programmes, des sorties ou des conferences pour le soutien et le suivi afin d'aider les couples, les familles et les celibataires dans la résolution de leurs problématiques.</p>
          <button class="btn btn-outline-secondary" type="button">Consulter notre Catalogue évènementielle</button>
        </div>
      </div>
    </div>

</main>
<div class="container">
<div class="row mb-2">
        <div class="col-lg-12">
          <div class="py-5 text-center">
            <h3>Obtenir de l'aide</h3>
            <p class="lead style-text">Nous comprenons qu'il faut du courage pour demander de l'aide. Peu importe jusqu'où vous allez dans la mauvaise direction, nous croyons qu'il y a toujours une chance de changer de cap. Et nous sommes là pour vous soutenir - à chaque étape du processus.</p>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="pricing-item">
            <img src="{{ asset('assets/images/seul.jpg') }}" alt="">
            <h4>Écoute: Célibataire</h4>
            <p>Seul(e) ou en fréquentation, bénéficies d'une écoute individuelle.</p>
            
            <div class="border-button">
              
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="pricing-item">
            <img src="{{ asset('assets/images/aleacouple.jpg') }}" alt="">
            <h4>Écoute: Couple</h4>
            <p>Partagez les aléas que vous rencontrez au sein de votre mariage.</p>
            
            <div class="border-button">
            
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="pricing-item">
            <img src="{{ asset('assets/images/family.jpg') }}" alt="">
            <h4>Écoute: Famille</h4>
            <p>Confiez vos problématiques familiales à Lydia lors d'un appel.</p>
            
            <div class="border-button">
            
            </div>
          </div>
        </div>
      </div>
</div>
