<section class="slick-slideshow">   
                <div class="slick-custom mt-0">
                    <img src="{{ asset('assets/images/tristess.jpg') }}" class="img-fluid" alt="">
                    <div class="slick-bottom">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-8 col-10">
                                    <h1 class="slick-title">Nous comprenons ce que vous traversez</h1>
                                    <p class="lead text-white mt-lg-3 mb-lg-5">Prendre un rendez-vous avec lydia Ladistinguée</p>
                                    <a href="/?bevent/=rendez-vous/" class="btn custom-btn border border-1 border-light">Demander un Rendez-vous</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
               <div class="slick-custom">
                    <img src="{{ asset('assets/images/event.jpg') }}" class="img-fluid" alt="">

                    <div class="slick-bottom">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-6 col-10">
                                    <h1 class="slick-title">Evenement en cours</h1>

                                    <p class="lead text-white mt-lg-3 mb-lg-5">Conférences, Intervenants exceptionnels, témoignages et bien plus encore sont toujours au rendez-vous!</p>

                                    <a href="/?bevent/=reservation/" class="btn custom-btn border border-1 border-light">Prendre Part</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </section>